# ETL PROJECT

In [ ]:
Datasource:
    File Name: 
Datasource:
    File Name:
    File Name:

## Extract, Transform, Load
   Steps:
   1. Retrieved the data from each source found on Kaggle.com and Data.world
   2. Downloaded files as .csv to Local Drive
   3. In Google Cloud (GC), new project created "all-about-that-database'
   4. (GC) Created new storage bucket 'nba' and folder 'resources'
   5. (GC) Uploaded .csv file to resources folder
   6. (GC) In project, new table schema created "nba"
   7. (GC) New tables created "INSERT NAMES HERE"
   8. (GC) New view created by joining "TABLE NAME" and "TABLE NAME" on "INSERT FIELD NAME' -
   #####note: This is for the salary information
       Reasoning:
   9. (GC) From "INSERT TABLE NAME" field names "INSERT FIELD NAMES" selected
   10. (GC) Final view created by joining "TABLE NAME" and "TABLE NAME" on "INSERT FIELD NAME"
       Reasoning:
   11. Exported "TABLE NAME" as .csv to Local Drive to push onto GitHub

Just to note: 
- Our final data below shows player of the week stats from 1985-86 to 2017-18 season

In [14]:
#Importing our final table from GCP
import pandas as pd
csv = 'nba_final_data_output.csv'
data = pd.read_csv(csv)

In [15]:
data.columns

Index(['name', 'career_FG_', 'birthPlace', 'position', 'college',
       'career_FG3_', 'career_PTS', 'career_WS', 'career_PER', 'career_FT_',
       'career_AST', 'career_TRB', 'highSchool', 'team', 'season', 'salary',
       'Player', 'Date', 'Age', 'Weight', 'Height', 'Pre_draft_Team',
       'Draft_Year', 'Conference'],
      dtype='object')

In [16]:
#Dropping unnecessary columns
del data['name']
del data['Pre_draft_Team']
del data['birthPlace']
del data['career_TRB']
del data['career_AST']

In [17]:
data.columns

Index(['career_FG_', 'position', 'college', 'career_FG3_', 'career_PTS',
       'career_WS', 'career_PER', 'career_FT_', 'highSchool', 'team', 'season',
       'salary', 'Player', 'Date', 'Age', 'Weight', 'Height', 'Draft_Year',
       'Conference'],
      dtype='object')

In [22]:
#Adjusting column names:
cleaned_names = data.rename(columns={'Player': 'player','career_FG_' : 'field_goal','career_FG3_' : 'three_pts', 
                                      'career_FT_' : 'free_throw', 'highSchool': 'high_school', 'Date': 'player_of_week', 'Age': 'age', 
                                       'Weight' : 'weight', 'Height' : 'height', 'Draft_Year': 'draft_year',
                                       'Conference':'conference', 'career_PTS' : 'points', 'career_WS': 'win_share', 'career_PER': 'efficiency'})

In [23]:
cleaned_names.columns

Index(['field_goal', 'position', 'college', 'three_pts', 'points', 'win_share',
       'efficiency', 'free_throw', 'high_school', 'team', 'season', 'salary',
       'player', 'player_of_week', 'age', 'weight', 'height', 'draft_year',
       'conference'],
      dtype='object')

In [27]:
#Reorganizing the columns
organized_data = cleaned_names[["player_of_week", "season", "player", "salary", "team", "conference",
                                "position", "win_share", "efficiency", "points", "field_goal", 
                                "three_pts", "free_throw", "age", "weight", "height", 
                                "college", "high_school", "draft_year"]]
organized_data.head()

,player_of_week,season,player,salary,team,conference,position,win_share,efficiency,points,field_goal,three_pts,free_throw,age,weight,height,college,high_school,draft_year
0,23-Mar-86,1984-85,Adrian Dantley,515000,Utah Jazz,NaN,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,30,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
1,18-Mar-84,1984-85,Adrian Dantley,515000,Utah Jazz,NaN,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,28,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
2,18-Dec-83,1984-85,Adrian Dantley,515000,Utah Jazz,NaN,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,28,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
3,19-Oct-80,1984-85,Adrian Dantley,515000,Utah Jazz,NaN,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,25,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
4,2-Dec-79,1984-85,Adrian Dantley,515000,Utah Jazz,NaN,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,24,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976

In [43]:
#Filling the 'NaN' values as 'East' or 'West' based on teams' conference assignment
organized_data.loc[organized_data['team'] == 'Atlanta Hawks', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Boston Celtics', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Brooklyn Nets', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Charlotte Bobcats', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Charlotte Hornets', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Chicago Bulls', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Cleveland Cavaliers', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Detroit Pistons', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Indiana Pacers', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Miami Heat', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Milwaukee Bucks', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'New Jersey Nets', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'New York Knicks', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Orlando Magic', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Philadelphia 76ers', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Toronoto Raptors', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Washington Wizards', 'conference'] = 'East'
organized_data.loc[organized_data['team'] == 'Washington Bullets', 'conference'] = 'East'

In [46]:
organized_data.loc[organized_data['conference'].isnull(), 'conference'] = 'West'

In [47]:
organized_data.head()

,player_of_week,season,player,salary,team,conference,position,win_share,efficiency,points,field_goal,three_pts,free_throw,age,weight,height,college,high_school,draft_year
0,23-Mar-86,1984-85,Adrian Dantley,515000,Utah Jazz,West,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,30,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
1,18-Mar-84,1984-85,Adrian Dantley,515000,Utah Jazz,West,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,28,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
2,18-Dec-83,1984-85,Adrian Dantley,515000,Utah Jazz,West,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,28,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
3,19-Oct-80,1984-85,Adrian Dantley,515000,Utah Jazz,West,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,25,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976
4,2-Dec-79,1984-85,Adrian Dantley,515000,Utah Jazz,West,Small Forward,134.2,21.5,24.3,54.0,17.1,81.8,24,208,6'5,University of Notre Dame,"DeMatha Catholic in Hyattsville, Maryland",1976